h1 {
  color: red
}

.maincolor {
  color: blue
}

.objectClass {
  background: red;
  border-radius: 8px;
  color: white;
  float: right;
  padding: 10px;
  border: none;
}

.redColor {
  color: red;
}

.largeTitle {
  font-size: 2rem;
}

.hobbitsShire {
  font-size: 12rem;
}

.vegeta {
  background: grey;
  color: #fff;
  padding: 15px
}
