<nav>
<img [src]="angularLogo" alt="" (click)="enableTheDisable()">
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="myClickEvent()">
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item (click)="sidenav.open()">
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
<h1 [style.color]="titleStyle ? 'white' : '#333'" >
  {{title}}
</h1>
<div class="button-row end">
  <!-- <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button> -->
  <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a mat-button routerLink="/new" routerLinkActive="active">About</a>
  <a mat-button routerLink="/directory" routerLinkActive="active">Directory</a>

</div>
</nav>

<div class="sidenav">
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav class="example-sidenav">
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-list-item>Item 2</mat-list-item>
        <mat-list-item>Item 3</mat-list-item>
        <mat-list-item>Item 4</mat-list-item>
    </mat-list>
    </mat-sidenav>

    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="sidenav.open()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div> -->

    <div class="contents">
      <!-- <router-outlet></router-outlet> -->
      <h2 [class]="hobbitsShire">{{ propers }}</h2>
      <div *ngIf="testTr; then newGandalf else oldGandalf">Yeah Boolean is true!</div><br>

      <ng-template #newGandalf>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mJZZNHekEQw?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </ng-template>

      <ng-template #oldGandalf>You shall not pass!</ng-template>




      <mat-form-field>
       <input matInput placeholder="Insert your ID number here" type="number" [(ngModel)]="idUser" (keyup)="returnOfTheKing($event)">
     </mat-form-field>
      <a href="#" (click)="addOne($event)"><fa name="plus-circle"></fa></a>
      <a href="#" (click)="minusOne($event)"><fa name="minus-circle"></fa></a>

      <div *ngIf="errorStatus" class="ErrorStatus">
        <img style="width: 200px;" src="http://cdn.hitfix.com/photos/6257188/Itballoon.jpg" alt="">
      </div>
      <div class="flex">

        <mat-card class="example-card" *ngFor="let laman of ninjas">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"><img src="https://s9.postimg.org/99ae5g1bz/Joker_-_Avatar.jpg" alt=""></div>
            <mat-card-title class="super-saiyan"><strong>NAME:</strong> {{ laman.name }}</mat-card-title>
            <mat-card-subtitle><strong>USERNAME:</strong> {{ laman.username }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="name"><strong>EMAIL:</strong> <a href="mailto: {{laman.email}}">{{ laman.email }}</a></div>
            <div class="name"><strong>ADDRESS:</strong> {{ laman.address.street }} , {{ laman.address.suite }}, {{ laman.address.city }}, {{ laman.address.zipcode }}</div>
            <div class="name"><strong>PHONE:</strong> {{ laman.phone }}</div>
            <div class="name"><strong>WEBSITE:</strong> {{ laman.website }}</div>
            <div class="name"><strong>COMPANY: </strong>{{ laman.company.name }}</div>
            <div class="name"><strong>CATCHPHRASE: </strong>{{ laman.company.catchPhrase }}</div>
            <div class="name"><strong>BS : </strong>{{ laman.company.bs }}</div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <router-outlet></router-outlet>
      </div>


      <ul>
        <li>{{myObject.gender}}</li>
        <li>{{myObject.age}}</li>
        <li>{{myObject.location}}</li>
      </ul>

      <ul>
        <li *ngFor="let arr of myArr2">{{ arr.gender }} {{arr.age}} {{arr.location}}</li>
      </ul>

      <ul>
        <li *ngFor="let hobbit of hobbits">{{ hobbit }}</li>
      </ul>

      <div *ngIf="!myArr">Yeah my Arr exist!</div>

      <div *ngIf="booleanCheck == 'something'">Yeah Boolean is true!</div>

      <p class="vegeta" [@triggeredAnimation]='state' (click)="runAnimate()">BOOM! Animation</p>

      <!-- <app-new-component></app-new-component>
      <app-directory></app-directory> -->

    </div>
  </mat-sidenav-container>
</div>
